<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Part 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Part 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Part 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Part 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9AD19FF1743CF9E00206302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AD1A0C1743CFAF00206302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AD1A191743D00E00206302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AD1A2C1744D68300206302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AD1A3A1744E0C200206302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
